* {
    text-align: center;
}
ul {
    list-style: none;
}

li {
    margin: 40px;
}

header {
    z-index: 100;
    position: fixed;
    right: 0;
    top:0;
    width: 100%;
    background-color: gray;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: larger;
    background-color: gray;
}
.display {
    width: 50%;
    background-color: antiquewhite;
    position: relative;
}

.detail {
    position: fixed;
    display: flex;
    flex-direction: row;
    text-align: center;
    /*flex-wrap: wrap;*/
    justify-content: center;
    height: 100%;
    width: 50%;
    right: 0px;
    background-color: lightblue;
}

.detailList{
    margin-top: 20%;
}

.all {
    position: relative;
    margin-top: 50px;
    display: flex;
}

.detailImg {
    height: 200px;
    width: 200px;
}